<%= stylesheet_link_tag "result", "data-turbo-track": "reload" %>
        <section class="body">
        <section class="sect">
            <div class="title mtop">
                <h1>Article <br><span><%= notice %></span><br><%= button_to("Back", root_path, method: :get) %></h1>
            </div>
            <div class="flexbreak"></div>
            <div class="box mtop forpara">
                <% @articles.each do |article| %>
                    <div class="para">
                        <h1><%= article.title %></h1>
                        <h2><%= article.list1 %></h2><br>
                        <p><%= article.para1 %></p><br>
                        <p><%= article.para2 %></p><br>
                        <p><%= article.para3 %></p><br>
                        <p><%= article.para4 %></p><br>
                        <h2><%= article.list2 %></h2><br>
                        <p><%= article.para5 %></p><br>
                        <p><%= article.para6 %></p><br>
                        <p><%= article.para7 %></p><br>
                        <p><%= article.para8 %></p><br>
                        <h2><%= article.list3 %></h2><br>
                        <p><%= article.para9 %></p><br>
                        <p><%= article.para10 %></p><br>
                        <p><%= article.para11 %></p><br>
                        <p><%= article.para12 %></p><br>
                        <h2><%= article.list4 %></h2><br>
                        <p><%= article.para13 %></p><br>
                        <p><%= article.para14 %></p><br>
                        <p><%= article.para15 %></p><br>
                        <p><%= article.para16 %></p><br>
                        <h2><%= article.list5 %></h2><br>
                        <p><%= article.para17 %></p><br>
                        <p><%= article.para18 %></p><br>
                        <p><%= article.para19 %></p><br>
                        <p><%= article.para20 %></p><br>
                        <h2><%= article.list6 %></h2><br>
                        <p><%= article.para21 %></p><br>
                        <p><%= article.para22 %></p><br>
                        <p><%= article.para23 %></p><br>
                        <p><%= article.para24 %></p><br>
                        <h2><%= article.list7 %></h2><br>
                        <p><%= article.para25 %></p><br>
                        <p><%= article.para26 %></p><br>
                        <p><%= article.para27 %></p><br>
                        <p><%= article.para28 %></p><br>
                        <h2><%= article.list8 %></h2><br>
                        <p><%= article.para29 %></p><br>
                        <p><%= article.para30 %></p><br>
                        <p><%= article.para31 %></p><br>
                        <p><%= article.para32 %></p><br>
                        <div class="flexbreak"></div>
                    </div>
                <% end %>
                <%= will_paginate(@articles) %>
            </div>
        </section>
    </section>
    <%= javascript_include_tag "article" %>